.gameboard-container {
  min-height: 400px;
  min-width: 600px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}

.gameboard-dice-display {
  height: 150px;
  width: 300px;
  margin: 50px auto 0 auto;
  text-align: center;
  position: relative;
}

.gameboard-btn-area {
  margin: 10 auto;
  text-align: center;
}

.gameboard-dice-display {
  height: 300px;
  width: 70%;
}

.gameboard-roll-btn {
  background-color: #7b6cd3;
  color: white;
  margin: 0 auto 50px auto;
  height: 50px;
  width: 150px;
  font-size: 24px;
  border-radius: 10px;
}
