.listitem-li {
  list-style: none;
  padding: 10px;
  background-color: var(--todo-blue);
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}

.listitem-li-editing {
  list-style: none;
  padding: 10px;
  background-color: var(--todo-white);
  color: var(--todo-dark-gray);
  text-align: left;
}

.listitem-title {
  width: 80%;
  display: inline-block;
}

.listitem-li-editing input {
  width: 100%;
  border: none;
  background-color: var(--todo-white);
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}

.listitem-li-editing input :focus {
  outline: none;
}

.listitem-icon-container {
  width: 20%;
}

.listitem-icon {
  margin-left: 15px;
}

.listitem-fa:hover {
  filter: drop-shadow(0 0 5px var(--todo-white));
}

.listitem-remove {
  /*height: 0px;
  margin-top: -10px;
  padding: 0px;
  transition: height 1.5s; */
  background-color: var(--todo-dark-gray);
  color: var(--todo-dark-gray);
  margin-top: -10px;
  max-height: 0px;
  padding: 0;
  transition: 0.5s all ease-out;
}
