.lottoboard-container {
  border: 1px solid #4F5D75;
  border-radius: 10px;
  width: 600px;
  height: 225px;
  margin: 100px auto;
  text-align: center;
}

.lottoboard-ball-ul {
  list-style: none;
  margin-left: -20px;
}

.lottoboard-ball-ul li {
  display: inline-block;
  margin-right: 20px;
}

.lottoboard-button{
  padding:5px;
  font-size:18px;
  margin-top:15px;
  border-radius: 10px;
  outline:none;
  border:1px solid #4F5D75;
  background-color:#333745;
  color:white;
}