.cell {
  width: 100px;
  height: 100px;
  background-color: #2f2f2f;
  border: 1px solid gray;
}

.cell-lit {
  background-color: #8bfdfe;
  box-shadow: 0 0 1vw #28d7fe, 0 0 2vw #28d7fe, 0 0 0.5vw #28d7fe,
    0 0 0vw #28d7fe, 0 0 0.4vw #8bfdfe, 0vw 0vw 0.1vw #147280;
}
